<main id="main">
    <div class="container p-3" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;">
        {% if message %}
            <div class="alert alert-warning" role="alert">
                <strong>{{ message }}</strong>
            </div>
        {% endif %}

        <form hx-post="{{ url_for('get_password_confirm') }}" hx-target="#main" hx-swap="innerHTML">
            {{ confirm_password_form.csrf_token }}
            <div class="form-group mb-3">
                <label for="email" class="form-label mb-2">Confirmer le mot de passe</label>
                {{ confirm_password_form.confirm(class="form-control") }}
            </div>
            
            <div>
                <button 
                    class="btn btn-secondary"
                    hx-get="{{ url_for('get_password') }}"
                    hx-target="#main"
                    hx-swap="innerHTML"
                >
                Précédent
            </button>
                <button type="submit" class="btn btn-primary">S'inscrire</button>
            </div>
        </form>
    </div>
</main>